/* COMMON */
body{
background:#f6f5f0 ;
}
.material-icons {
    color:#f6f5f0;
    font-size: 36px;
    cusor: pointer;
}
/* HEADER */

header{
    background: #000;
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

header>.material-icons {
    position: absolute;
}



header #btn--open {
    display: block;
}

header #btn--close {
    display: none;
}

/* NAV */
nav{
    width: 350px;
    height: calc(100% - 60px);
    background: blueviolet;
    position:absolute;
    transform: translateX(-100%);
    transition:  .4s;
}